/include/ "system-conf.dtsi"
/ {
chosen{
 bootargs = "earlycon clk_ignore_unused console=ttyPS0,115200 earlyprintk root=/dev/mmcblk1p2 rw rootwait";
 };


   memory {    // Reduce memory for framebuffers
        device_type = "memory";
        reg = <0x0 0x0 0x0 0x3FC00000>;  // Reduce memory for 1GB assembly variant
    };


    framebuffer0: framebuffer@0x3FC00000 {      // HDMI out
        compatible = "simple-framebuffer";
        reg = <0x0 0x3FC00000 0x0 (1280 * 720 * 4)>;    // 720p
        width = <1280>;                         // 720p
        height = <720>;                         // 720p
        stride = <(1280 * 4)>;                  // 720p
        format = "a8b8g8r8";
    };
};

&axi_vdma_0 {
   status = "okay";
};

&v_tc_0 {
    //xilinx-vtc: probe of 43c20000.v_tc failed with error -2
    clock-names = "s_axi_aclk";
    clocks = <0x34>;
    status = "okay";
};

&v_tpg_0 {
    clock-names = "fclk1";
    clocks = <0x48>;
    status = "okay";
};

&sdhci1 {
 disable-wp;
 no-1-8-v;
};

&smmu {
  status ="okay";
};

&fclk0 {
  status = "okay";
};

&fclk1 {
  status = "okay";
};


&i2c0 {
 status = "okay";
 adv7511@39 {
  compatible = "adi,adv7511"; 
  reg = <0x39>;

 adi,input-depth = <8>;
 adi,input-colorspace = "yuv422";
 adi,input-clock = "1x";
 adi,input-style = <1>;
 adi,input-justification = "evenly";

};
};

&usb0 {
  status = "okay";
};

&dwc3_0 {
    status = "okay";
    dr_mode = "host";
};

