/include/ "system-conf.dtsi"
/ {
chosen{
 bootargs = "earlycon clk_ignore_unused console=ttyPS0,115200 earlyprintk root=/dev/mmcblk1p2 rw rootwait";
 };
 };
 
 &sdhci1 {
 disable-wp;
 no-1-8-v;
};

&usb0 {
  status = "okay";
};

&dwc3_0 {
    status = "okay";
    dr_mode = "host";
};

&sata {
	ceva,p0-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
	ceva,p0-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
	ceva,p0-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
	ceva,p0-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
	ceva,p1-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
	ceva,p1-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
	ceva,p1-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
	ceva,p1-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
	status = "okay";
	xlnx,tz-nonsecure-sata0 = <0x0>;
	xlnx,tz-nonsecure-sata1 = <0x0>;
};

&spi0 {
 is-decoded-cs = <0>;
 num-cs = <1>;
 status = "okay";
 spidev@0x00 {
  compatible = "spidev";
  spi-max-frequency = <1000000>;
  reg = <0>;
 };
};

